.wrapper {
    display: flex;
    /* align-items: center; */
    /* flex-flow: column; */
    max-width: 130em;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

    .recipe_column {
        width: 400px;
        display: flex;
        /* align-items: center; */
        flex-flow: column;
    }

    .recipe_column ol {
        margin: 0;
    }

    .recipe_column li {
        margin-bottom: 0.5em;
    }
    
    /* .recipe_column:not(:first-child) {
        margin-left: 20px;
    }

    .recipe_column:not(:last-child) {
        margin-right: 20px;;
    } */

  .recipe_parameter {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
  }

  .recipe_parameter label {
    white-space: nowrap;
    width: 20ch
  }

  .parameter_grid input {
    /* width: 300px; */
    width: 100%;
    height: 2em;
    margin: 0;
  }

  .recipe_ratio {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }


  .step_list {
    text-align: left;
  }

  /* .recipe_parameter--centered {
    justify-content: center;
    text-align: center;
  } */

  .parameter_grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one two three";
    align-items: center;
    gap: 1em 0;
  }

  .parameter_grid input {
    width: 100%;
  }

  .parameter_grid .col_1 {
    text-align: right;
    margin-right: 1em;
  }
  .parameter_grid .col_3 {
    margin-left: 1em;
  }
