@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
#app {
    font-family: 'IBM Plex Serif', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 60rem;
}

h1 {
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 1em;
    display: block;
    box-sizing: border-box;
    /* margin-top: 0em; */
}

h2 {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-variant: small-caps;
    border: 6px double var(--text);
    padding: .5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 1ch;
    margin-bottom: 2em;
}

.logo {
    height: 128px;
    margin-right: 2em;    
}
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: none;
    border: none;
}

#nav {
    display: flex;
    align-items: center;
    padding: 30px;
}

#nav a {
    font-weight: bold;
}

#nav a.router-link-exact-active {
    text-decoration: overline;
}