<template>
  <div class="about">
    <h1>About</h1>
  </div>
  <locale-setter-vue/>
</template>


<script>
import LocaleSetterVue from "../components/LocaleSetter.vue"
export default {
  components: {
    LocaleSetterVue
  }
}
</script>