<template>
  <locale-setter-vue/>
  <div class="recipe">
    <h1> {{ $t('recipe.foursixmethod') }} </h1>
    <four-six-method/>
  </div>
</template>

<script>
import FourSixMethod from '../components/FourSixMethod.vue'
import LocaleSetterVue from '../components/LocaleSetter.vue'

export default {
  components: {
    FourSixMethod,
    LocaleSetterVue
  }
}
</script>