<template>
  <div claquss="home">
    <h1>The Interactive Coffee Recipe Book</h1>
  </div>
  <locale-setter-vue/>
</template>

<script>
// @ is an alias to /src

import LocaleSetterVue from "../components/LocaleSetter.vue"
export default {
  name: 'Home',
  components: {
    LocaleSetterVue
  }
}
</script>
