<template>

    <div class="wrapper">

      <div class="recipe_column">
        <h2>{{ $t('recipe.parameters') }}</h2>
          <div class="parameter_grid">
            <label class="col_1">{{ $t('recipe.coffee') }}</label><input class="col_2" type="number" min="1" max="100" step="1" v-model="gramsCoffee" @change="onChangeCoffee"> <div></div>
            <label class="col_1">{{ $t('recipe.water') }}</label><input class="col_2" type="number" min="50" max="1000" step="1" v-model="gramsWater" @change="onChangeWater"> <div></div>
            <label class="col_1">{{ $t('recipe.ratio') }}</label><div class="recipe_ratio">1:<input class="col_2" type="number" min="14" max="20" step="1" v-model="ratio" @change="onChangeRatio"></div> <div></div>
            <label class="col_1">{{ $t('recipe.sweet') }}</label><input class="col_2" type="range" min="0.1" max="0.9" step="0.1" v-model="sweetnessAcidityRatio" @change="onChangeSweetnessAcidityRatio"><label class="col_3">{{ $t('recipe.acidic') }}</label>
            <label class="col_1">{{ $t('recipe.weaker') }}</label><input class="col_2" type="range" min="1" max="4" step="1" v-model="strength" @change="onChangeStrength"><label class="col_3">{{ $t('recipe.stronger') }}</label>
    
          </div>

      </div>
  
            <div class="recipe_column">

      
      <h2>{{ $t('recipe.steps') }}</h2>
      <ol class="step_list">
        <li>0:00: {{ gramsPour1 }}g</li>
        <li>0:45: {{ gramsPour2 }}g ({{ gramsPour1 + gramsPour2 }}g total)</li>
        <li>1:30: {{ gramsPourSixty }}g ({{ gramsPour1 + gramsPour2 + gramsPourSixty}}g total)</li>
        <li v-show="fourPours">{{ pour4Time }}: {{ gramsPourSixty }}g ({{ gramsPour1 + gramsPour2 + gramsPourSixty*2 }}g total)</li>
        <li v-show="fivePours">{{ pour5Time }}: {{ gramsPourSixty }}g ({{ gramsPour1 + gramsPour2 + gramsPourSixty*3 }}g total)</li>
        <li v-show="sixPours">{{ pour6Time }}: {{ gramsPourSixty }}g ({{ gramsPour1 + gramsPour2 + gramsPourSixty*4 }}g total)</li>
        <li>3:30: {{ $t('recipe.finish') }}</li>
      </ol>
    
    </div>
    
    </div>
</template>



<script>

import '../styles/foursixmethod.css';

export default {

  name: 'FourtySixtyMethod',
  
  beforeMount() {
    this.getQueryParams();
  },

  computed: {

    fourPours() { return this.strength >= 2},

    fivePours() { return this.strength >= 3},

    sixPours() { return this.strength >= 4},

    pour4Time() {
      let seconds = 90 + this.precisionRound(120 / this.strength, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      return `${minutes}:${("0" + modsecs).slice(-2)}`;
    },

    pour5Time() {
      let seconds = 90 + this.precisionRound(120 / this.strength * 2, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      return `${minutes}:${("0" + modsecs).slice(-2)}`;
    },

    pour6Time() {
      let seconds = 90 + this.precisionRound(120 / this.strength * 3, 0);
      let minutes = Math.floor(seconds / 60);
      let modsecs = seconds % 60;
      return `${minutes}:${("0" + modsecs).slice(-2)}`;
    },

    gramsPour1() {
      return this.precisionRound(
        this.$store.state.gramsWater * 0.4 * this.$store.state.sweetnessAcidityRatio, 
        0
      );
    },

    gramsPour2() {
      return this.precisionRound(
        this.$store.state.gramsWater * 0.4 * (1-this.$store.state.sweetnessAcidityRatio), 
        0
      );
    },

    gramsPourSixty() {
      return this.precisionRound(
        this.$store.state.gramsWater * 0.6 / this.$store.state.strength, 
        0
      );
    },

    gramsWater: {
      get() {
        return this.$store.state.gramsWater;
      }, 
      set(grams) {
        this.$store.dispatch('setGramsWater', grams);
      }
    },

    gramsCoffee: {
      get() {
        return this.$store.state.gramsCoffee;
      },
      set(grams) {
        this.$store.dispatch('setGramsCoffee', grams);
      }
    },

    sweetnessAcidityRatio: {
      get() {
        return this.$store.state.sweetnessAcidityRatio;
      },
      set(ratio) {
        this.$store.dispatch('setSweetnessAcidityRatio', ratio);
      }
    },

    strength: {
      get() {
        return this.$store.state.strength;
      },
      set(strength) {
        this.$store.dispatch('setStrength', strength);
      }
    },

    ratio: {
      get() {
        return this.$store.state.ratio;
      },
      set(ratio) {
        this.$store.dispatch('setRatio', ratio)
      }
      
    }

  },

  methods: {

    precisionRound(number, precision) {
      var factor = Math.pow(10, precision);
      var n = precision < 0 ? number : 0.01 / factor + number;
      return Math.round( n * factor) / factor;
    },

    onChangeWater() {
      this.gramsCoffee = this.precisionRound(this.gramsWater / this.ratio, 1);
      this.updateWindowLocation();
    },

    onChangeCoffee() {
      this.gramsWater = this.precisionRound(this.gramsCoffee * this.ratio, 1);
      this.updateWindowLocation();
    },

    onChangeRatio() {
      this.gramsCoffee = this.precisionRound(this.gramsWater / this.ratio, 1);
      this.gramsWater = this.precisionRound(this.gramsCoffee * this.ratio, 1);
      this.updateWindowLocation();

    },

    onChangeSweetnessAcidityRatio() {
      this.updateWindowLocation();
    },

    onChangeStrength() {
      this.updateWindowLocation();
    },

    updateWindowLocation() {
      let winLoc = window.location.href.split("?")[0];
      winLoc = `${winLoc}?lang=${this.$root.$i18n.locale}&c=${this.gramsCoffee}&r=${this.ratio}&b=${this.sweetnessAcidityRatio}&s=${this.strength}`;
      window.history.pushState(history.state, "Title", winLoc);
    },

    getQueryParams() {
      if (this.$route.query.b) {
        this.sweetnessAcidityRatio = this.$route.query.b;
      }
      if (this.$route.query.s) {
        this.strength = this.$route.query.s;
      }
      if (this.$route.query.r) {
        this.ratio = this.$route.query.r;
      }
      if (this.$route.query.w) {
        this.gramsWater = this.$route.query.w;
        this.onChangeWater()
      }
      else if (this.$route.query.c) {
        this.gramsCoffee = this.$route.query.c;
        this.onChangeCoffee()
      }
    },


  },

  props: {
    msg: String
  }
}
</script>
