<template>
    <div></div>
</template>

<script>
export default {
    beforeMount() {
        this.handleQueryParams();
    },
    methods: {
        handleQueryParams() {
            this.setLocale();
        },
        setLocale() {
            let lang = this.$route.query.lang;
            console.log(lang);
            if (lang) {
                this.$root.$i18n.locale = lang;
            }
        },
    }
}
</script>


