<template>
  <header>
    <img class="logo" src="./assets/cup.png">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/4-6-method">4:6 Method</router-link> | 
      <router-link to="/about">About</router-link>
    </div>
  </header>
  <router-view/>
</template>

<script>
import './assets/simple.min.css';
import './styles/main.css';
import { RouterView } from 'vue-router';


export default {
  name: 'Interactive Coffee Recipe Book',
  components: {
    RouterView
  },
  methods: {
    
  }
  
}
</script>
